<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <img src="assets/icon/logogo.png" style="height: 80px;"> <!-- Adjust the path and size as needed -->
      </ion-buttons>
      <ion-title>TeleStat - телематична платформа</ion-title>
      <ion-buttons slot="end">
        <ion-item routerLink="/map">Мапа</ion-item>
        <ion-item routerLink="/monitor">Моніторинг</ion-item>
        <ion-item routerLink="/reports">Звітність</ion-item>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-router-outlet></ion-router-outlet>
  </ion-content>
</ion-app>

